body {
  font-family: sans-serif;
}

#board {
  width: 800px;           /* 背景画像の実寸に合わせる */
  height: 600px;
  background-image: url("background.png");
  background-size: cover;
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  gap: 10px;
  padding: 20px;
}

.seat {
  width: 80px;
  height: 80px;
}

.seat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
