body {
  font-family: sans-serif;
}

#board {
  width: 800px;
  height: 600px;
  background-image: url("background.png");
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
}

.seat {
  width: 80px;
  height: 80px;
}

.seat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
